bcrypt==3.1.0
bottle==0.12.9
cffi==1.7.0
click==5.1
colorama==0.3.7
cycler==0.10.0
Flask==0.10.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
lockfile==0.12.2
MarkupSafe==0.23
numpy==1.11.0
pandas==0.18.1
pycparser==2.14
pyparsing==2.1.4
pyserial==3.1.1
python-dateutil==2.5.3
pytz==2016.4
requests==2.10.0
simplejson==3.8.2
six==1.10.0
virtualenv==15.0.2
Werkzeug==0.11.11
